@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* navigation bar */
nav {
   display: flex;
   background-color: #303030;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0px;
   position: fixed;
   z-index: 10;
   top: 0;
   width: 100%;
   /* border-bottom: 3px solid white; */
}

.link {
   display: flex;
   justify-content: space-around;

   column-gap: 80px;

}

nav h1 {
   padding-left: 25px;
}


nav h1 {
   font-size: 25px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-family: "Oswald";
   text-decoration: none;
}
nav  ul a{
   font-size: 25px;
   /* text-transform: uppercase; */
   color: #ffffff;
  
   font-family: "Oswald";
   text-decoration: none;
   position: relative;
   padding: 0px 10px;
}

nav  a:after{
    content: " ";
    position: absolute;
    background-color: rgb(245, 241, 241);
    height: 4px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 3s all;
   
}
nav  a:hover:after{
    width: 100%;
   
}
nav a:hover{
    font-weight: bold;
}

nav li {
   list-style-type: none;
}

nav .icon {
   padding-right: 25px;
   display: flex;

   column-gap: 25px;
}

nav .bar {
   display: none;
}

nav #checkbtn {
   display: none;
}

nav #search {
   display: none;
}

/* payment section */

.container{
    margin: 100px auto;
	background: white;
	padding: 150x 10px;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.left{
	width: 50%;
}
.right{
	width: 50%;
}
form{
	padding: 20px;
}

.container h3{
	
	color:#2c3e50;
    margin-left: 20px;
    font-size: 25px;
	}

.container input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

.zip{
	display: flex;
	margin-top: 0.5rem;
    justify-content: center;
    column-gap: 15px;
}
.zip select{
	padding: 0.5rem 0.7rem;
}
.zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}

.right> .paybtn{
    padding: 15px 25px;
	background-color: #00a7ff;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
   

}

/* footer */
footer {
   background-color: #303030;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 50px 0px;
}

footer h3 {
   margin-bottom: 25px;
   font-size: 30px;
   

}
footer li, footer p{
   font-size: 20px;
   margin-bottom: 10px;
}

.one,.two {
   display: flex;
   column-gap: 20px;
   list-style-type: none;
}

.one li {
  
   list-style-type: none;
   margin-bottom: 10px;
}


.three{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   row-gap: 20px;
}
.input{
   background-color: black;
   border: 2px solid white;
   padding: 5px;
   font-size: 22px;
   color: white;
}
.btn{
   padding: 5px;
   border: none;
   
   background-color: white;
   color: black;
   font-weight: bold;
   font-size: 22px;
}




/* footer */
footer {
    background-color: #303030;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
 }
 
 footer h3 {
    margin-bottom: 25px;
    font-size: 30px;
    
 
 }
 footer li, footer p{
    font-size: 20px;
    margin-bottom: 10px;
 }
 
 .one,.two {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
 }
 
 .one li {
   
    list-style-type: none;
    margin-bottom: 10px;
 }
 
 
 .three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    row-gap: 20px;
 }
 .input{
    background-color: black;
    border: 2px solid white;
    padding: 5px;
    font-size: 22px;
    color: white;
 }
 .btn{
    padding: 5px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 22px;
 }

 @media (max-width: 992px) {
    footer{
        flex-direction: column;
        justify-content: start;
       align-items: start;
        row-gap: 20px;
    
    }
    footer > div{
        padding-left: 80px;
    }
    .one{
        flex-direction: column;
        gap: 5px;
    
    }
    .one li{
        list-style-type: disc;
    }

 }
 @media (max-width: 768px) 
 {
    body{
		overflow-x: hidden;
	}
    .container{
		flex-direction: column;
	}
     nav .link{
         display:none;
     }
    nav  .bar{
         display: block;
         margin-left: 320px;
     }
     nav #checkbtn:checked ~ .link{
        display: block;
        position: absolute;
        top: 70px;
        background-color: #303030;
        color: white;
        width: 100%;
        z-index: 1;
     }
    nav  .link li{
        margin: 10px 0px;
        padding: 0px 30px;
     }
     
 } 
 @media (max-width: 576px) { 
 
    nav .bar{
        display: block;
        margin-left: 200px;
    }
    .products-preview{
      
        top:30px; 
     }
     .three input,.btn{
      width: 200px;
     }
    
 
}

@media (max-width: 450px) { 
 
    nav .bar{
        display: block;
        margin-left: 50px;
    }
}    