@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* navigation bar */
nav {
   display: flex;
   background-color: #303030;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0px;
   position: fixed;
   z-index: 10;
   top: 0;
   width: 100%;
   border-bottom: 3px solid white;
}

.link {
   display: flex;
   justify-content: space-around;
   align-items: center;
   column-gap: 80px;

}

nav h1 {
   padding-left: 25px;
}


nav h1 {
   font-size: 25px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-family: "Oswald";
   text-decoration: none;
}
nav  ul a{
   font-size: 25px;
   /* text-transform: uppercase; */
   color: #ffffff;
  
   font-family: "Oswald";
   text-decoration: none;
   position: relative;
   padding: 0px 10px;
}

nav  a:after{
    content: " ";
    position: absolute;
    background-color: rgb(245, 241, 241);
    height: 4px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 3s all;
   
}
nav  a:hover:after{
    width: 100%;
   
}
nav a:hover{
    font-weight: bold;
}


nav li {
   list-style-type: none;
}

nav .icon {
   padding-right: 25px;
   display: flex;

   column-gap: 25px;
}

nav .bar {
   display: none;
}

nav #checkbtn {
   display: none;
}

nav #search {
   display: none;
}



/* slider */
.slider {
   position: relative;
   width: 100%;
   background: #2c3e50;

}

.myslide {
   height: 655px;
   display: none;
   overflow: hidden;
   box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.prev,
.next {
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   font-size: 50px;
   padding: 15px;
   cursor: pointer;
   color: #fff;
   transition: 0.1s;
   user-select: none;
}

.prev:hover,
.next:hover {
   color: #00a7ff;
}

.next {
   right: 0;
}

.dotsbox {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: 20px;
   cursor: pointer;
}

.dot {
   display: inline-block;
   width: 15px;
   height: 15px;
   border: 3px solid #fff;
   border-radius: 50%;
   margin: 0 10px;
   cursor: pointer;
}

.active,
.dot:hover {
   background-color: white;
}

.fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
}

@-webkit-keyframes fade {
   from {
      opacity: 0.8
   }

   to {
      opacity: 1
   }
}

@keyframes fade {
   from {
      opacity: 0.8
   }

   to {
      opacity: 1
   }
}

.slider img {
   transform: scale(1.5, 1.5);
   -webkit-animation-name: zoomin;
   -webkit-animation-duration: 40s;
   animation-name: zoomin;
   animation-duration: 40s;
}

@-webkit-keyframes zoomin {
   from {
      transform: scale(1, 1);
   }

   to {
      transform: scale(1.5, 1.5);
   }
}


@keyframes zoomin {
   from {
      transform: scale(1, 1);
   }

   to {
      transform: scale(1.5, 1.5);
   }
}

/* sevices */

.slider+h1 {
   font-size: 30px;
   color: #444;
   margin: 25px 25px;
}

.service {
   margin: 35px auto;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(1, 1fr);
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
   column-gap: 30px;
}

.ser {

   background: #fff;
   box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
   outline: 1px solid #ccc;
   outline-offset: -10px;
   cursor: pointer;
   padding: 20px 0px;
}

/* .ser:hover{
   outline: 2px solid #222;
   outline-offset: 0;
} */
.head {
   display: flex;
   width: 90%;
   margin: 15px auto;
   justify-content: center;
   align-items: center;
   column-gap: 15px;

}

.head h1 {
   font-size: 30px;
   color: #444;
}

.ser p {
   text-align: center;
   width: 90%;
   margin: 10px auto;
   font-size: 20px;
   line-height: 30px;
}

.ser-icon {
   color: white;
   padding: 20px 10px;
   background-color: rgb(239, 202, 16);
   text-align: center;
   border-radius: 50%;
}


/* what's new section */

.container {
   /* max-width: 300px; */
   width: 100%;
   margin: 0 auto;
   box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
   padding: 3rem 2rem;


}

.container .title {
   font-size: 45px;
   color: #444;
   margin-bottom: 25px;
   text-transform: uppercase;
   text-align: center;
}

.container p {
   font-size: 28px;
   color: #444;
   margin-bottom: 15px;
   text-transform: capitalize;
   text-align: center;
}

.container .products-container {

   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;


}

.container .products-container .product {
   width: 30%;
   text-align: center;
   padding: 50px 50px;
   background: #fff;
   box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
   outline: 1px solid #ccc;
   outline-offset: -20px;
   cursor: pointer;

}

.container .products-container .product:hover {
   outline: 2px solid #222;
   outline-offset: 0;
}

.container .products-container .product img {
   height: 150px;

}

.container .products-container .product:hover img {
   transform: scale(0.9);
}

.container .products-container .product h3 {
   padding: 10px 0;
   font-size: 25px;
   color: #444;
}


.container .products-container .product:hover h3 {
   color: #27ae60;
}

.container .products-container .product .price {
   font-size: 20px;
   color: #444;
}

.products-preview {
   position: fixed;
   top: 40px;
   left: 0;
   height: 100vh;
   width: 100%;
   background: rgba(0, 0, 0, .8);
   display: none;
   align-items: center;
   justify-content: center;

}

.products-preview .preview {
   display: none;

   text-align: center;
   background: #fff;
   position: relative;
   margin: 20px auto;
   width: 40%;
   z-index: 10;
}

.products-preview .preview.active {
   display: inline-block;
}

.products-preview .preview img {
   height: 250px;
}

.products-preview .preview .fa-times {
   position: absolute;
   top: 50px;
   right: 15px;
   cursor: pointer;
   color: #444;
   font-size: 40px;
}



.products-preview .preview h3 {
   color: #444;
   padding: 10px 0;
   font-size: 35px;
}

.products-preview .preview .stars {
   padding: 10px 0;
   font-size: 17px;
}

.products-preview .preview .stars i {
   color: #27ae60;
}

.products-preview .preview .stars span {
   color: #999;
}

.products-preview .preview p {
   line-height: 1.5;
   padding: 10px 0;
   font-size: 25px;
   color: #777;
}

.products-preview .preview .price {
   padding: 10px 0;
   font-size: 30px;
   color: #27ae60;
}




.products-preview .preview .buttons {

   display: flex;
   gap: 25px;
   align-items: center;
   justify-content: center;
   padding-bottom: 20px;
}

.products-preview .preview .buttons a {

   padding: 10px;
   font-size: 18px;
   color: #444;
   border: .1rem solid #444;
}



.products-preview .preview .buttons a.buy:hover {
   background: #444;
   color: #fff;
}

/* All products */
.products-preview+h1 {
   font-size: 30px;
   color: #444;
   margin: 35px 25px;
   text-transform: uppercase;
}

.product-card1 {
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;

   padding-bottom: 25px;
   flex-wrap: wrap;
   column-gap: 25px;
   row-gap: 25px;

}

.pro {
   width: 270px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
   outline: 1px solid #ccc;
   padding-bottom: 10px;

}

.pro img {
   height: 200px;
   width: 100%;
   box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.pro p {
   width: 90%;
   font-size: 20px;

   margin: 15px auto;
}

.product-card1 .pro .buttons {

   display: flex;
   gap: 25px;
   align-items: center;
   justify-content: center;

}

.product-card1 .pro .price {
   font-size: 20px;
   color: #444;
   margin: 10px auto;
   padding-left: 18px;
}

.product-card1 .pro .cart {
   font-size: 20px;
   color: #444;
   text-decoration: none;
   color: white;
   padding: 5px;
   background-color: #00aeff;
   border-radius: 10px;
}

.view {
   font-size: 20px;
   color: #444;
   text-decoration: none;
   color: white;
   padding: 5px;
   color: black;
   background-color: white;
   border-radius: 10px;
   border: 1px solid black;

}
.view:hover{
   background-color: #444;
   color: white;
}

/* footer */
footer {
   background-color: #303030;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 50px 0px;
}

footer h3 {
   margin-bottom: 25px;
   font-size: 30px;
   

}
footer li, footer p{
   font-size: 20px;
   margin-bottom: 10px;
}

.one,.two {
   display: flex;
   column-gap: 20px;
   list-style-type: none;
}

.one li {
  
   list-style-type: none;
   margin-bottom: 10px;
}


.three{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   row-gap: 20px;
}
.input{
   background-color: black;
   border: 2px solid white;
   padding: 5px;
   font-size: 22px;
   color: white;
}
.btn{
   padding: 5px;
   border: none;
   background-color: white;
   color: black;
   font-weight: bold;
   font-size: 22px;
}
